.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  height: 500px;
  text-align: center;
}
